@media(max-width: 435px) {


    body {
        background-image: url(/src/images/bg-mobile.svg);
        background-size: 100%;       background-repeat: no-repeat;
        background-position: top;
    }

    body .header img {
        height: 3rem;   
        
    }

    .main {
        display: flex;
        flex-direction: column;
        margin: 25px 25px;
        justify-content: center;
        text-align: center;
    }

    .main img {
        max-width: 100%;
        margin-bottom: 20px;
    }

    .main .infos {
        margin: 5px 5px;
    }


    .main .infos h2 {
        margin-top: 15px;
        font-size: 1.8rem;
        font-weight: 700;
    }

    .main .infos p {
        margin-top: 15px;
        font-size: 1.4rem;
    }

    .footer {
        display: flex;
        justify-content: center;
        text-align: center;
    }
}


@media(max-width: 1440px) {
    .main img {

        max-width: auto;
    }
}